<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="favicon.ico">

    <link href="~/Areas/Admin/Static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/Areas/Admin/Static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/Areas/Admin/Static/css/sb-admin.min.css" rel="stylesheet" />
</head>
<body id="page-top">
    @Html.Partial("~/Areas/Admin/Views/Shared/Header.cshtml")

    <div id="wrapper">
        @Html.Partial("~/Areas/Admin/Views/Shared/Menu.cshtml")

        <div id="content-wrapper">
            <div class="container-fluid">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">Overview</li>
                </ol>

                @RenderBody()

            </div>
            @Html.Partial("~/Areas/Admin/Views/Shared/Footer.cshtml")
        </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <script src="~/Areas/Admin/dist/polyfills.js"></script>
    <script src="~/Areas/Admin/dist/runtime.js"></script>
    <script src="~/Areas/Admin/dist/main.js"></script>
    <script src="~/Areas/Admin/dist/styles.js"></script>
    <script src="~/Areas/Admin/dist/vendor.js"></script>

    <script src="~/Areas/Admin/Static/vendor/jquery/jquery.min.js"></script>
    <script src="~/Areas/Admin/Static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Areas/Admin/Static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="~/Areas/Admin/Static/vendor/chart.js/Chart.min.js"></script>
    <script src="~/Areas/Admin/Static/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Areas/Admin/Static/vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Areas/Admin/Static/js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="~/Areas/Admin/Static/js/demo/datatables-demo.js"></script>
    <script src="~/Areas/Admin/Static/js/demo/chart-area-demo.js"></script>

    @RenderSection("scripts", required: false)

</body>


</html>
